#mainCont{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,rgb(143, 143, 143), rgb(77, 77, 77));
    height: 100vh;
    width: 100vw;}

#column1MainCont{
    display: flex;
    flex-direction: column;}

#userLoginCont{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 190px;}

#userRegisterCont{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 260px;}

#charactersCont{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 140px;}

#createCharacterCont{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 230px;}

#column2MainCont{
    display: flex;
    flex-direction: column;}

#userInfoCont{
    min-width: 600px;}

.userInfoDetails{
    color: rgb(0, 255, 0);}

#characterInfoCont{
    min-width: 600px;}

.characterDetails{
    color: rgb(0, 255, 0);}

#ioCont{
    display: flex;
    flex-direction: column;}

#outputMain{
    background-color: rgb(0, 0, 0);
    color: white;
    resize: none;
    overflow-y: auto;}

#inputMain{
    background-color: black;
    color: white;}

#dialogueCont{
    display: flex;
    flex-direction: column;}

#outputDialogue{
    background-color: rgb(0, 0, 0);
    color: white;
    resize: none;
    overflow-y: auto;}

#roomInfoCont{
    display: flex;
    flex-direction: row;}

.roomInfoList{
    max-height: 90px;
    overflow-y: auto;}

.roomInfoListItem{
    color: rgb(0, 255, 0)}

#column3MainCont{
    display: flex;
    flex-direction: column;}

#inventoryCont{
    display: flex;
    flex-direction: row;}

#characterInventory{
    height: 150px;
    max-height: 150px;
    overflow-y: auto;}

.inventoryItem{
    color: rgb(0, 255, 0);}

#battleCont{
    display: flex;
    flex-direction: column;}

#battleLists{
    display: flex;
    flex-direction: row;
    height: 150px;
    max-height: 150px;
    overflow-y: auto;}

#outputBattle{
    background-color: black;
    color: white;
    resize: none;
    overflow-y: auto;}

.battleAlly{
    color: rgb(0, 255, 0);}

.battleEnemy{
    color: rgb(0, 255, 0);}