#contMain{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#contBanner{
    background-image: radial-gradient(grey, black);
    color: rgb(0, 255, 0);
    font-size: 40px;
    text-align: center;
}

#contBody{
    background-image: linear-gradient(grey, black);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#textHeaderLogin{
    color: rgb(0, 255, 0);
    text-align: center;
    font-size: 35px;
}

#formLogin{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    color: rgb(0, 255, 0);
}

#buttonLogin{
    background-image: radial-gradient(grey, black);
    color: rgb(0, 0, 0);
}

#buttonLogin:hover{
    color: rgb(0, 255, 0);
}

.inputLogin{
    background-image: radial-gradient(grey, black);
    color: white;
    border: 1px solid grey;
}

.inputLogin:focus{
    outline: none;
    border-color: white;
}